<div class="ui stackable page grid">
    <div class="twelve wide  column">
      <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Store</a>
        <div class="divider"> / </div>
        <div class="active section">T-Shirt</div>
      </div>
    
        <div class="ui divided items">
          <div class="item">

             <div class="ui medium image">
                <img class="" src="/images/projects/15_logo.jpg">
             </div>          

             <div class="content">
              <a class="header">Project Red Light Rescue - Rescuing Victims of Human Trafficking
              </a>
              <div class="meta">
                <div class="ui horizontal list">
                  <div class="item">
                    <i class="user icon"></i>
                    <div class="content">
                      <div class="header">Tom</div>
                      Top Contributor
                    </div>
                  </div>
                  <div class="item">
                    <i class="green check icon"></i>
                    <div class="content">
                      121 Votes
                    </div>
                  </div>

                
                </div>

              </div>
              <div class="description">
                Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”. Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Despite all this there is hope for them...                  
              </div>
              <div class="extra">
                <div class="ui horizontal list">
                  <div class="item">
                    <div class="ui  button">
                        <img class="ui tinay image" src="/images/connect/btn_share_this.png">

                    </div>
                  </div>
                  <div class="item">
                    <div class="ui  button">
                        <img class="ui tinay image" src="/images/connect/btn_share_this.png">

                    </div>
                  </div>
                </div>              

              </div>              
             </div>
          </div>
          <div class="item">          
          Comment here
          </div>

        </div>        
    </div>
    <div class="four wide white column">
        <div id="sidebar-content">
        </div>
    </div>
</div>
<script >
    $(document).ready(function() {
        // view video
        $('.ui.video').video();
        $('#sidebar-content').load('partials/_blog_sidebar.html');
    });  
    
</script>
