<div class="ui divided items">
    <div class="item">
        <h3 class="ui header">Categories</h3>
        <div class="ui divided items">
            <div class="item">
                <div class="ui link list">
                    <a class="item" href="#">
                        <i class="top aligned right triangle icon"></i>
                        <div class="content">
                            <div class="header">About Sower of Seeds</div>
                        </div>
                    </a>
                    <a class="item" href="staff.html">
                        <i class="top aligned right triangle icon"></i>
                        <div class="content">
                            <div class="header">Staff
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </div>
    <div class="item">
        <h3 class="ui header">Archives</h3>
        <div class="ui divided items">
            <div class="item">
                <div class="ui link list">
                    <a class="item" href="#">
                        <i class="top aligned right triangle icon"></i>
                        <div class="content">
                            <div class="header">About Sower of Seeds</div>
                        </div>
                    </a>
                    <a class="item" href="staff.html">
                        <i class="top aligned right triangle icon"></i>
                        <div class="content">
                            <div class="header">Staff
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>    
    </div>    
</div>
