<div class="ui stackable page grid">
    <div class="twelve wide  column">
        <div class="ui stackable page grid">
            <div class="six wide  column">
                <div class="ui card">
                  <div class="image">
                    <img src="/images/connect/pin.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Stevie Feliciano</a>
                    <div class="meta">
                      <span class="date">Joined in 2014</span>
                    </div>
                    <div class="description">
                      Sower of Seeds International Ministries has seen missions participation dramatically change people’s lives as they encounter problems in the world. Engaging in missions will challenge your faith and encourage your heart as you experience the kingdom of God in action. 
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      SowerofSeeds
                    </a>
                  </div>
                </div>            
            </div>
            <div class="ten wide  column">
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui card">
                          <div class="image">
                            <img src="/images/connect/btn_facebook.png">
                          </div>
                          <div class="content">
                            <div class="description">
                              @SOSIntl is making a difference in India. You can help. Check out: sowerofseeds.org
                            </div>
                          </div>
                          <div class="extra content">
                              <div class="ui  button">
                                  <img class="ui tinay image" src="/images/connect/btn_share_this.png">

                             </div>

                          </div>
                        </div>                        

                    </div>
                    <div class="column">
                        <div class="ui card">
                          <div class="image">
                            <img src="/images/connect/btn_twitter.png">
                          </div>
                          <div class="content">
                            <div class="description">
                              @SOSIntl is making a difference in India. You can help. Check out: sowerofseeds.org
                            </div>
                          </div>
                          <div class="extra content">
                              <div class="ui  button">
                                  <img class="ui tinay image" src="/images/connect/btn_share_this.png">

                             </div>

                          </div>
                        </div>                        

                    </div>                    
                    <div class="column">
                        <div class="ui card">
                          <div class="image">
                            <img src="/images/connect/btn_vimeo.png">
                          </div>
                          <div class="content">
                            <div class="description">
                                <div class="ui divided list">
                                    <div class="item">
                                        <div class="ui video" data-source="youtube" data-id="i_mKY2CQ9Kk" data-image="/images/cat.jpg"></div>
                                    </div>
                                    <div class="item">
                                        <div class="ui video" data-source="youtube" data-id="i_mKY2CQ9Kk" data-image="/images/cat.jpg"></div>
                                    </div>                                    
                                </div>
                            </div>
                          </div>
                        </div>                        

                    </div> 
                </div>
            </div>            
        </div>
        <div class="ui hidden divider"></div>
        <div id="trip_7">
            <p>Millions of people currently drink, cook, and wash with contaminated water. How can you help drill water in these communities?</p>
            <a href="http://777water.org/">Visit Triple Seven →</a>
        </div>
    </div>
    <div class="four wide white column">
        <div id="sidebar-content">
        </div>
    </div>
</div>
<script >
    $(document).ready(function() {
        // view video
        $('.ui.video').video();
        $('#sidebar-content').load('partials/_sidebar.html');
    });  
    
</script>
