<div class="ui stackable page grid">
    <div class="twelve wide  column">
        <div class="item">
            <div class="right floated compact ui button">Back</div>
            <div class="middle aligned content">
                <h2 class="ui header">Special Events</h2>
                <div class="meta">
                    <span class="cinema">Union Square 14</span>
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
        <div class="item segment">
            <img class="ui centered large image" src="/images/image_about_us.jpg">
        </div>
        <div class="ui section divider"></div>
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="first">About</a>
            <a class="item" data-tab="second">Second</a>
            <a class="item" data-tab="third">Third</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
  <div class="overflow ministry_content">
<p><span style="font-size: 12px; font-weight: normal; " class="Apple-style-span">When a few young ladies who had been rescued from sexual slavery in Mumbai’s largest brothel district shared their stories with us on one of our trips, it impressed again on us how poverty has many expressions of abuse but none are perhaps as devastating to the human heart as slavery.</span></p>
<p>These women and girls have endured unthinkable abuse at the vulnerable ages of fourteen, twelve, even ten.  When they share their stories it is with the hope of bringing an end to the inhumane world of human trafficking; so that more girls and women who are trapped may have a chance to find freedom and healing… a chance to hope again.</p>
<p>One girl, Cindy* (we have changed her name), had only been at the rescue home 4 months – after spending over a year in the hospital. We heard how she was sold to a brothel at age 14; how boiling wine was poured over her, and how she had been left to die after her body was taken over by the infection that followed.</p>
<p><strong>Cindy is one of many. We might have been unable to prevent her abuse, but we are able to play a part in her healing. Will you help empower those on the front lines sho are fighting to end sex slavery?</strong></p>
<p>Please take the time to watch Anita's story below and remember the girls still trapped in forced prostitution and slavery in Asia's largest red-light district.  Anita was trafficked when she was 19, and now works to love and restore girls like Cindy.</p>
<p>Please note that video contains disturbing subject matter &amp; may not be suitable for children.</p>
<p><iframe width="600" height="338" frameborder="0" src="./Sower of Seeds   Projects Anita_files/16638040.html"></iframe></p>
<p><a href="http://sowerofseeds.org/project.php?id=25&amp;tab=58"><strong>View shortened version here.</strong></a></p>
<p>We can be part of stopping it for other young ladies… for someone’s daughter. There is a team who is ready to rescue. They know this kind of slavery and many have experienced it first hand. They know how to reach in, help and restore dignity to a life in need of God’s healing. The team is ready to walk daily towards that new life and hope alongside each young lady who is rescued. They know the culture and the needs.</p>
<p>The outreach team needs your support. They need your prayers and the finances to provide medical care, counseling, education , vocational training, and basic physical needs during the process of rebuilding lives. We have a great opportunity to help bring new life and hope to many young ladies. With every girl that learns to smile, dream, and live again, we are keeping the devil from writing the last word over their lives.</p>
<h2>What you can do:</h2>
<h4><a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html?designation=Red%20Light%20Rescue&amp;amount=1800"><strong>$1,800 rescues and provides one year of care for a girl</strong> <br>
</a><a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html?designation=Red%20Light%20Rescue&amp;amount=900"><strong>$ 900 rescues and provides for 6 months of care</strong></a><br>
<a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html?designation=Red%20Light%20Rescue&amp;amount=450"><strong>$ 450 rescues and supports a girl for 3 months</strong></a><br>
<a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html?designation=Red%20Light%20Rescue&amp;amount=150&amp;commitment=Indefinite"><strong>$ 150 supports a rescued girl for one month</strong></a><br>
If you can’t give $150 please consider giving <strong><a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html?designation=Red%20Light%20Rescue&amp;amount=75&amp;commitment=Indefinite">$75</a>&nbsp;</strong>to combine with another's gift to rescue a woman or young girl from this injustice.</h4>
<p><a href="http://www.sowerofseeds.org/pledge">or take a pledge to end this horrible form of slavery...</a><br>
<br>
&nbsp;<span style="font-weight: normal; " class="Apple-style-span"><a href="https://app.etapestry.com/hosted/SowerofSeedsIntlMinistriesInc/OnlineDonation.html"><img alt="" src="./Sower of Seeds   Projects Anita_files/button1.png"></a></span></p>
<p><img alt="" src="./Sower of Seeds   Projects Anita_files/icon_twitter.gif">&nbsp;&nbsp;<a target="_blank" title="Tweet This" href="http://twitter.com/home?status=I%20care%20about%20human%20trafficking.%20You%20should%20too:%20http://bit.ly/Syo9x"><strong>Share this on Twitter</strong></a></p>            
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”.  Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Girls are often thrown in cages or locked in rooms for up to 3 years where they are repeatedly abused and tortured until they lose all will to run away.  Then they are made to stand in the street, selling themselves for almost nothing...
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”.  Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Girls are often thrown in cages or locked in rooms for up to 3 years where they are repeatedly abused and tortured until they lose all will to run away.  Then they are made to stand in the street, selling themselves for almost nothing...
        </div>
    </div>

    <div class="four wide white column">
        <div id="sidebar-content">
        </div>
    </div>
</div>
<script >
    $(document).ready(function() {
        $('.menu .item')
          .tab()
        ;
        $('#sidebar-content').load('partials/_sidebar.html');
    });  
    
</script>
