<div class="ui stackable page grid">
    <div class="twelve wide teal column">
        <h2 class="ui inverted header">Projects</h2>
        <div>
            S.O.S. International facilitates and operates compassion outreaches to India, with a focus on social development. We are committed to searching for and developing sustainable, life-saving, life-changing solutions to the problems the poor face every day. It is our heart to encourage and empower the local church to be a solution in their community.

            Our goal is to be a bridge, connecting you to world missions in a way that is measurable, full of impact and making an eternal difference in the lives of others.        
        </div>
        <h3 class="ui inverted header">Current Projects</h3>
        <div class="ui divided items">
          <div class="item">
             s<div class="ui medium image">
                <img class="" src="/images/projects/15_logo.jpg">
             </div>          

             <div class="content">
              <a class="header">Project Red Light Rescue - Rescuing Victims of Human Trafficking
              </a>
              <div class="description">
                Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”. Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Despite all this there is hope for them...                  
              </div>
             </div>
           </div>
          <div class="item">
             s<div class="ui medium image">
                <img class="" src="/images/projects/17_logo.jpg">
             </div>          

             <div class="content">
              <a class="header" href="project_detail.html">Project Red Light Rescue - Rescuing Victims of Human Trafficking
              </a>
              <div class="description">
                Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”. Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Despite all this there is hope for them...                  
              </div>
             </div>
           </div>
          <div class="item">
             s<div class="ui medium image">
                <img class="" src="/images/projects/16_logo.jpg">
             </div>          

             <div class="content">
              <a class="header">Project Red Light Rescue - Rescuing Victims of Human Trafficking
              </a>
              <div class="description">
                Poverty has many expressions of abuse but none are perhaps as devastating to the human heart as “sex slavery”. Little girls are bought, stolen or sold by people who prey upon them as a source of livelihood. Despite all this there is hope for them...                  
              </div>
             </div>
           </div>

        </div>        
    </div>
    <div class="four wide white column">
        <div id="sidebar-content">
        </div>
    </div>
</div>
<script >
    $(document).ready(function() {
        // view video
        $('.ui.video').video();
        $('#sidebar-content').load('partials/_sidebar.html');
    });  
    
</script>
