    <div class="ui feature stackable page grid">
        <div class="row">
          <div class="ten wide column">
            <img class="ui big image" src="/images/notlang.jpg">   
          </div>

          <div class="six wide column">
            <h3 class="ui header">
              Features
            </h3>

            <div class="ui list">
              <a class="item">
                <i class="help icon"></i>
                <div class="content">
                  <div class="header">Floated Icon</div>
                  <div class="description">This text will always have a left margin to make sure it sits alongside your icon</div>
                </div>
              </a>
              <a class="item">
                <i class="top aligned right triangle icon"></i>
                <div class="content">
                  <div class="header">Icon Alignment</div>
                  <div class="description">Floated icons are, by default, middle aligned. To have an icon top aligned try this example.</div>
                </div>
              </a>
              <a class="item">
                <i class="help icon"></i>
                An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
              </a>
            </div>
          </div>
        </div>  
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui project stackable page grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui segment header">
            Projects
          </div>      
          <div class="ui four column aligned stackable grid">
            <div class="column">
              <div class="ui card">
                <div class="image">
                  <img src="/images/p1.jpg">
                </div>
                <div class="content">
                  <a class="header">Red Light Rescue</a>
                  <div class="meta">
                    <span class="date">Joined in 2014</span>
                  </div>
                  <div class="description">
                    Project Red Light Rescue - Rescuing Victims of Human Trafficking
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    22 Friends
                  </a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui card">
                <div class="image">
                  <img src="/images/p1.jpg">
                </div>
                <div class="content">
                  <a class="header">Red Light Rescue</a>
                  <div class="meta">
                    <span class="date">Joined in 2014</span>
                  </div>
                  <div class="description">
                    Project Red Light Rescue - Rescuing Victims of Human Trafficking
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    22 Friends
                  </a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui card">
                <div class="image">
                  <img src="/images/p3.jpg">
                </div>
                <div class="content">
                  <a class="header">Red Light Rescue</a>
                  <div class="meta">
                    <span class="date">Joined in 2014</span>
                  </div>
                  <div class="description">
                    Project Red Light Rescue - Rescuing Victims of Human Trafficking
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    22 Friends
                  </a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui card">
                <div class="image">
                  <img src="/images/p2.jpg">
                </div>
                <div class="content">
                  <a class="header">Red Light Rescue</a>
                  <div class="meta">
                    <span class="date">Joined in 2014</span>
                  </div>
                  <div class="description">
                    Project Red Light Rescue - Rescuing Victims of Human Trafficking
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    22 Friends
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>

    <div class="ui blog page grid">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">
            <i class="plug icon"></i>
            <div class="content">
              Latest News
            </div>
          </h2>
          <div class="ui divided items">
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/wireframe/image.png">
              </div>
              <div class="content">
                <a class="header">12 Years a Slave</a>
                <div class="meta">
                  <span class="cinema">Union Square 14</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/wireframe/image.png">
              </div>
              <div class="content">
                <a class="header">My Neighbor Totoro</a>
                <div class="meta">
                  <span class="cinema">IFC Cinema</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/wireframe/image.png">
              </div>
              <div class="content">
                <a class="header">Watchmen</a>
                <div class="meta">
                  <span class="cinema">IFC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <h2 class="ui header">
            <i class="plug icon"></i>
            <div class="content">
              Get Involved
            </div>
          </h2>
          <div class="ui divided items">
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/image_get_involved_thumb.jpg">
              </div>
              <div class="content">
                <a class="header">Volunteer Opportunities </a>
                <div class="meta">
                  <span class="cinema">Union Square 14</span>
                </div>
                <div class="description">
                  <p>HOPE for North Texas: Local Missions. Find opportunities to volunteer your time and talents to help make a difference in your community and in communities around the world. </p>
                  <div class="ui blue button">
                    Learn More
                  </div>
                </div>              
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/image_get_involved_thumb.jpg">
              </div>
              <div class="content">
                <a class="header">Volunteer Opportunities </a>
                <div class="meta">
                  <span class="cinema">Union Square 14</span>
                </div>
                <div class="description">
                  <p>HOPE for North Texas: Local Missions. Find opportunities to volunteer your time and talents to help make a difference in your community and in communities around the world. </p>
                  <div class="ui blue button">
                    Learn More
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>

    <div class="ui connect stackable page grid">
      <div class="row">
        <div class="sixteen wide column">
          <h2 class="ui header">
            <i class="plug icon"></i>
            <div class="content">
              CONNECT
            </div>
          </h2>    
        </div>  
        <div class="eight wide column">
          <div class="ui segments">
            <div class="ui segment">
              <p>

              We want to invite you to be part of our movement, sowing seeds of God’s love, compassion and salvation into the poor and needy children of the nations. Be informed; be involved!
            </p>
              <div class="ui horizontal list">
                <a class="item">
                  <i class="help icon"></i>
                  Stay Up To Date
                </a>
                <a class="ui item">
                  <i class="help icon"></i>
                  Tell A Friend
                </a>
              </div>
            </div>
            <div class="ui secondary segment networks">
              <h3 class="ui header">
                Social Networks
              </h3>
              <div class="ui horizontal list">

                <div class="item">
                  <a class="facebook" target="_blank" href="http://www.facebook.com/SowerofSeeds">Facebook</a>
                </div>
                <div class="item">
                  <a class="twitter" target="_blank" href="http://www.facebook.com/SowerofSeeds">Facebook</a>
                </div>
                <div class="item">
                  <a class="pinterest" target="_blank" href="http://www.facebook.com/SowerofSeeds">Facebook</a>
                </div>  
              </div>              

            </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui basic segment">
            <div class="ui video" data-source="youtube" data-id="i_mKY2CQ9Kk" data-image="/images/video.jpg"></div>
          </div>      
        </div>      
      </div>   
    </div>
<script >
$(document).ready(function() {
    // view video
    $('.ui.video').video();
});  

</script>  